body {
	background: black;
}

pre {
	color:green;
}

.terminaltext {
 color:green; 
 font-size: 25px;
}

.maintext {
	float:left;
}

.sideart {
	float: left;
}

.blink {
  -webkit-animation: blink 0.9s linear infinite;
  animation: blink 0.9s linear infinite;
}
@-webkit-keyframes blink {
  50% { color: rgb(0, 128, 0); }
  51% { color: rgba(0, 128, 0, 0); }
  100% { color: rgba(0, 128, 0, 0); }
}
@keyframes blink {
  50% { color: rgb(0, 128, 0); }
  51% { color: rgba(0, 128, 0, 0); }
  100% { color: rgba(0, 128, 0, 0); }
}
